
<nav class="navbar">
        <div class="container-fluid">
          <p class="navbar-brand">Food <span id="dadSpan">Dad</span>-A-Base</p>
          <input class="searchBar" type="search" placeholder="Search for a recipe" aria-label="Search">
          <button class="searchBtn btn-outline-success" type="submit"><i class="fas fa-search fa-xs"></i></button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout">Logout</a>
              </li>
            </ul>
            <!-- <span class="navbar-text text-white text-end">
                A place for Dad jokes and the occasional recipe!
            </span> -->
          </div>
          
        </div>
      </nav>
