<nav class="navbar">
  <div class="navContainer">
    <p class="navbar-brand">Food </p>
    <p class="navbar-brand"><span id="dadSpan">Dad</span>-A-Base</p> </p>

    <input class="searchBar" type="search" placeholder="Search for a recipe" aria-label="Search">

    <button class="searchBtn btn-outline-success"><i class="fas fa-search fa-xs"></i></button>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="logoutBtn" aria-current="page" href="/logout">Logout</a>
        </li>
      </ul>
      <!-- <span class="navbar-text text-white text-end">
          A place for Dad jokes and the occasional recipe!
      </span> -->
  </div>
</nav>


